@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --background: #ffffff;
    --foreground: #171717;
    --hover-default: rgb(133, 175, 199);
    --background-layer: -1;
    --default-layer: 0;
    --foreground-layer: 1;
    --sticky-layer: 10;
}

body {
    color: var(--foreground);
    background: var(--background);
    font-family: Arial, Helvetica, sans-serif;
    height: 100vh;
}

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
}
